/*
    Author: Austin Nolz
    Contains the style attributes for menu.fxml
    Date : 9/28/19
*/
.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane {
  -fx-tab-min-width: 90px;
  -fx-background-color: linear-gradient(black, #3c3c3c);
}

.tab {
  -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
  -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
  -fx-background-color: #3c3c3c;
}

.tab .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #828282;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}
/*.tab-pane * .tab-header-background{*/
  /*-fx-background-color: gray;*/
/*}*/
.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: White;
}

.table-view .column-header,
.table-view .column-header-background .filler {
  -fx-background-color: Black;
}

.table-view .column-header .label {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-alignment: CENTER_LEFT;
}

.table-view .table-row-cell {
  -fx-cell-size: 35;
  -fx-background-color: gray;
  -fx-border-color: #29292D;
  -fx-text-fill: white;
  -fx-alignment: CENTER_LEFT;

}
.table-view .cell {
  -fx-cell-size: 35;
  -fx-border-color: #29292D;
  -fx-text-fill: white;
  -fx-alignment: CENTER_LEFT;

}

.table-view .table-row-cell:selected {
  -fx-background-color: black;
  -fx-text-background-color: black;
}

.choice-box .context-menu {
  -fx-background-color: gray;
}

.choice-box .menu-item:focused {
  -fx-background-color: black;
}

.choice-box .menu-item > .label {
  -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
  -fx-text-fill: white;
}
.choice-box{
  -fx-background-color: gray;
  -fx-text-fill: black;
}

